<p>Ask your coach anything:</p>
<form id="ask" class="form-row" action="answer">
  <div class="form-inline">
      <input type="text" class="form-control" name="question" value="Coach?">
      <input type="submit" class="form-control btn-primary" value="Ask!">
  </div>
</form>
